/*Estilos generales*/
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #1b1b32;
  color: #f4f4f4;
  text-align: center;
  padding: 15px 0;
}

header h1 {
  
  font-size: 2.5rem;
}

/*-------------------*/
/*Galeria de imagenes*/
.gallery {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.05);
}

/*-------------------*/
/*MODAL*/
.modal {
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

.close-button {
  top: 10px;
  right: 10px;
  font-size: 24px;
  position: absolute;
  cursor: pointer;
  color: #fff;
}

/*-------------------*/
/* Media queries para dispositivos más pequeños */
@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media only screen and (max-width: 480px) {
  header h1 {
    font-size: 1.5rem;
  }

  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

/*-------------------*/
/*Pie de pagina*/
footer {
  min-height: 500px;
  background-color: #1b1b32;
  color: #fff;
}

.footer_text_f{
  font-size: 1.5rem;
}

.footer_text{
  margin-top: 30px;
  font-size: 1.2rem;
  color: #FFFFFF;
}

.footer_icon {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.social_media_icons a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.social_media_icons i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.social_media_icons a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.social_media_icons a:hover i {
  color: black;
}

.Copyright {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

.contact button:hover i {
  color: black;
}

