/*Estilos Generales*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #111827;
}

footer {
    min-height: 500px;
}

footer p {
    font-size: 1.5rem;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
}


/* Barra de navegacion */
.navbar {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0) 100%);
}

.custom_toggler_icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.custom_toggler_icon span {
    width: 2rem;
    height: 0.25rem;
    border-radius: 5px;
    background: white;
}

.navbar-collapse {
    align-items: center;
}

.nav-link {
    height: 40px;
    width: 150px;
    margin: 15px 15px 15px 0;
    border-radius: 30px;
    text-align: center;
    color: #FFFFFF;
}

.nav-link:hover {
    border-radius: 30px;
    background-color: #2C66C3;
    color: #FFFFFF;
}


/* Seccion hero */
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero_left {
    width: 50%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero_left h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFFFFF;
}

.hero_left h2 {
    color: #2CB67D;
}

.hero_left button {
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: #FFFFFF;
    color: #111827ff;
}

.hero_left button a {
    text-decoration: none;
    color: #111827ff;
}

.hero_right {
    width: 50%;
    height: 80%;
}

.hero_right img {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {

    .hero_main {
        flex-direction: row;
        justify-content: space-between;
    }

    .hero_left {
        align-items: flex-start;
    }
}

@media (max-width: 768px) {

    .hero_left {
        align-items: center; 
        text-align: center;
    }

}


/* Hacerca de mi */
.about_me {
    padding: 50px 0;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 15px;
}

.about_me .title {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.about_me .title::after {
    content: "";
    display: block;
    margin: auto;
    border-radius: 5px;
    border-bottom: 5px solid #2C66C3;
    width: 75%;
    margin-top: 10px;
}

.about_me .text_section {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5;
    color: #FFFFFF;
}


/* Mis habilidades */
.my_skills .title {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 25px;
    text-align: center;
    color: #FFFFFF;
}

.my_skills .title::after {
    border-radius: 5px;
    width: 75%;
    margin-top: 10px;
    content: "";
    display: block;
    margin: auto;
    border-bottom: 5px solid #2C66C3;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color: #2CB67D;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2CB67D;
    color: white;
}

.active {
    background-color: #2CB67D;
}

.mechatronic {
    display: none;
}

.button_container {
    gap: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

.programming_skills,
.mechatronic_skills {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill {
    width: 70%;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: #293548 2px solid;
}

.skill img {
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.skill span {
    font-size: 1.2rem;
    color: #FFFFFF;
}

@media (min-width: 768px) {
    .skill {
        width: 45%;
    }
}

@media (min-width: 1024px) {
    .skill {
        width: 30%;
    }
}

.mechatronic_skills {
    display: none;
}


/*-----------------------*/
/*Proyectos */
.recent_projects .title {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 25px;
    color: #FFFFFF;
}

.recent_projects .title::after {
    width: 50%;
    margin-top: 10px;
    border-radius: 5px;
    content: "";
    display: block;
    margin: auto;
    border-bottom: 5px solid #2C66C3;
}

.recent_projects .button-container{
    margin-bottom: 25px;
}

.recent_projects {
    padding: 20px;
}

.recent_projects img {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    display: block;
    transition: all 0.2s ease;
}

.projects {
    position: relative;
    width: 110%;
    height: 105%;
}

.projects:hover img {
    opacity: 0.2;
}

.overlay {
    text-align: center;
    top: 50%;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease;
}

.overlay p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 0;
    color: #FFFFFF;
}

.overlay i {
    font-size: 60px;
    margin: 25px;
    color: #FFFFFF;
}

.projects:hover .overlay {
    opacity: 1;
}

.overlay .container-icons {
    display: flex;
    justify-content: center;
}

.btn_info {
    font-size: 1.1rem;
    margin: 20px;
    margin-top: 25px;
}

.microcontrollers_projects {
    display: none;
}

.python_projects {
    display: none;
}

.mechatronic_projects {
    display: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal img {
    height: auto;
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}


/*Pie de Pagina*/
.footer_icon {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer_text{
    margin-top: 30px;
    font-size: 1.2rem;
    color: #FFFFFF;
}

.social_media_icons a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.social_media_icons i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.social_media_icons a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.social_media_icons a:hover i {
    color: black;
}

.Copyright {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

.contact button:hover i {
    color: black;
}

