/*Estilos Generales | General Styles*/

body {
    background-color: #72a24c;
}

h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
}

form {
    max-width: 400px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    background-color: #3c3c3c;
    box-shadow: #3c3c3c 0px 0px 10px;
}

form label {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-bottom: 8px;
    color: white;
}

/*Estilos de los inputs | Input Styles*/
.input {
    font-size: 16px;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/*Estilo del boton de enviar | Send Button Style*/
.button-add {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 10px;
    color: #3c3c3c;
    border: 2px solid #72a24c;
    background-color: #fdf6f2;
    transition: background-color 0.3s;
}

.button-add:hover {
    background-color: #72a24c;
    color: white;
}

/*Estilo del boton de eliminar | Delete Button Style*/
.button-delet {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #3c3c3c;
    border: 2px solid #9e2a2b;
    background-color: #fdf6f2;
    transition: background-color 0.3s;
}

.button-delet:hover {
    background-color: #9e2a2b;
    color: white;
}

/*Estilo del boton usuarios | Users Button Style*/
.button-database {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
    color: #3c3c3c;
    background-color: #fdf6f2;
    border: 2px solid #61a5c2;
    transition: background-color 0.3s;
}

.button-database:hover {
    background-color: #61a5c2;
    color: white;
}

/*Pie de pagina | Footer*/
.dark-section {
    color: #f5f6f7;
    background-color: #1b1b32;
}

footer {
    min-height: 400px;
}

.footer-page {
    margin-top: 200px;
}

.footer-icon {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
}

.social-media-icons a {
    width: 50px;
    height: 50px;
    padding: 2px;
    margin: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
    border: 2px solid white;
}

.social-media-icons i {
    font-size: 1.5rem;
    color: white;
    transition: all 0.2s ease-in;
}

.social-media-icons a:hover i {
    color: black;
}

.Copyright {
    font-size: 15px;
    padding: 20px;
    color: #aeaeae;
}

/* Estilos para pantallas más pequeñas | Styles for smaller screens */
@media screen and (max-width: 600px) {
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem;
        padding: 40px;
        color: #3c3c3c;
    }

    form {
        max-width: 80%;
        margin-bottom: 20px;
        padding: 10px;
    }

    form label {
        font-size: 14px;
    }

    .input {
        width: 100%;
        font-size: 14px;
    }

    .button-add,
    .button-delet,
    .button-database {
        width: 100%;
        font-size: 14px;
        margin-top: 15px;
    }
}